body {
	background: #fff;
	color:#333;
}

a {
  color:#333;
}

a:hover {
  color:#222;
  text-decoration: none;
}

.container {
    height: 100%;
}
.content {
  font-size: 0.888887em;
}

.navbar-inverse.account {
   background-color: #f1f1f1;
}

.navbar-inverse.account a {
  color:#000;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #BBB;
  vertical-align: middle!important;
}

.tags-included a, .tags-excluded a{
	margin-right: 5px;
  line-height: 15px;
}